<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="icon" href="icons/favicon.svg" type="image/svg+xml"/>
  </head>
  <body>
