<%- include('layouts/header') -%>

<!-- page content -->
<!--
  Ideally these elements aren't created until it's confirmed that the
  client supports video/camera, but for the sake of illustrating the
  elements involved, they are created with markup (not JavaScript)
-->
<%- include('partials/user') -%>
<main id="proctor">
  <h1 class="title"><%= sessionName %></h1>
  <p id="signaling-state"></p>
  <p id="connection-state"></p>
  <div id="video-controls">
    <button id="connect" class="basic icon btn"><i class="las la-phone la-lg"></i>Join</button>
    <button id="disconnect" class="basic icon btn"><i class="las la-phone-slash la-lg"></i>Hang up</button>
    <button id="ping" class="basic icon btn"><i class="las la-sign-language la-lg"></i>Ping proctor</button>
  </div>
  <div id="video-container">
    <button id="share-camera" class="basic icon btn"><i class="las la-video la-lg"></i>Share Camera</button>
    <!--<video class="invert" id="camera" autoplay muted></video>-->
    <button id="share-screen" class="basic icon btn"><i class="las la-desktop la-lg"></i>Share Screen</button>
    <!--<video id="screen" autoplay></video>-->
  </div>
  <audio id="remote-audio" autoplay></audio>
  <!--<div id="fakeconsole"></div>-->
</main>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/proctor.js" type="module"></script>

<%- include('layouts/footer') -%>
