<%- include('layouts/header') -%>

<!-- page content -->
<!--
  Ideally these elements aren't created until it's confirmed that the
  client supports video/camera, but for the sake of illustrating the
  elements involved, they are created with markup (not JavaScript)
-->
<main id="#proctor">
  <h1 class="title"><%= title %></h1>
  <p id="signaling-state"></p>
  <p id="connection-state"></p>
  <div id="video-controls">
    <button id="share-camera">Share Camera</button>
    <button id="share-screen">Share Screen</button>
    <button id="connect">Connect</button>
    <button id="disconnect">Disconnect</button>
  </div>
  <div id="video-container">
    <video class="invert" id="camera" autoplay muted></video>
    <video id="screen" autoplay></video>
  </div>
  <audio id="remote-audio"></audio>
</main>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src='/socket.io/socket.io.js'></script>
<script src="/js/proctor.js"></script>

<%- include('layouts/footer') -%>
