<%- include('layouts/header') -%>

<%- include('partials/user') -%>
<!-- page content -->
<main id="seer">
  <h1 class="title"><%= sessionName %></h1>
  <p id="signaling-state"></p>
  <div id="online-users-container">
    Online:
    <div id="online-users" class="flow list">
    </div>
  </div>
  <div id="session-controls">
    <button id="connect" class="basic icon btn"><i class="las la-sign-in-alt la-lg"></i>Enter</button>
    <button id="disconnect" class="basic icon btn"><i class="las la-sign-out-alt la-lg"></i>Quit</button>
  </div>
  <div id="student-container">
    <!--<video class="remote-video" autoplay></video>-->
  </div>
</main>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/seer.js" type="module"></script>

<%- include('layouts/footer') -%>
