<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>seer</title>
        <link rel="stylesheet" href="/stylesheets/users.css">
    </head>
    <body>
        <!-- page content -->
        <div id="seer">
            <h1 class="title">Seer</h1>
            <p id="message"></p>
            <ul id="online-users" class="list">
            </ul>
            <div id="video-controls">
                <button id="connect">Connect</button>
            </div>
            <div id="video-container">
                <!--<video class="remote-video" autoplay></video>-->
            </div>
        </div>

        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <script src='/socket.io/socket.io.js'></script>
        <script src="/javascripts/users.js"></script>
    </body>
</html>

