<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>seer</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <!-- page content -->
        <div id="content">
        </div>
        <div id="content2">
        </div>
        <button id="clickme">click me</button>
        <video id="remote-video" autoplay></video>

        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <script src='/socket.io/socket.io.js'></script>
        <script src="/javascripts/users.js"></script>
    </body>
</html>

