@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("base.css");
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
  font-family: 'Rubik', 'sans-serif'; }

* {
  /*border: solid 2px red;*/ }

.title {
  text-align: center; }

#signaling-state {
  text-align: center; }

#session-controls {
  display: flex;
  justify-content: center;
  padding: 8px; }

#student-container {
  display: flex;
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center; }

#student-container > .student {
  display: flex;
  max-width: 100%;
  flex-flow: column nowrap;
  box-shadow: 1px 1px 4px 0 #ccc;
  border-radius: 2px; }

#student-container > .student > .student-info {
  text-align: center; }

#student-container > .student > .video-container {
  display: flex;
  max-width: 49vw;
  flex-flow: row wrap; }

#student-container > .student > .video-container > video {
  width: 24vw;
  height: 13.5vw; }

#online-users-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 8px; }

.flow.list {
  display: flex;
  margin: 8px 0;
  flex-flow: row wrap; }

.flow.list > .list-item {
  padding: 2px 4px;
  border: solid 2px black;
  border-radius: 4px;
  margin-right: 4px; }

#signaling-state {
  text-align: center; }

#connection-state {
  text-align: center; }

.invert {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */ }

#video-controls {
  display: flex;
  justify-content: center; }

#video-container {
  display: flex;
  flex-flow: row wrap; }

#camera, #screen {
  width: 49vw;
  height: 28.125vw; }

.container {
  padding: 8px 32px; }
