@import url("base.css");

#video-controls {
  display: flex;
  justify-content: center;
}

#video-container {
  display: flex;
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}

.student {
  display: flex;
  max-width: 100%;
  flex-flow: column nowrap;
}

.student > p {
  text-align: center;
  flex: 1;
}

.remote-video-container {
  display: flex;
  max-width: 100%;
  flex-flow: row nowrap;
}

.remote-video {
  width: 24vw;
  height: 13.5vw;
}

#online-users-container {
  padding: 8px;
}
