@import url("base.css");

#video-controls {
    display: flex;
    justify-content: center;
}

#video-container {
    display: flex;
    flex-flow: row nowrap;
}

.student {
    display: flex;
    flex-flow: column nowrap;
}

.student > p {
    text-align: center;
    max-width: 100%;
}

.remote-video-container {
    display: flex;
    flex-flow: row nowrap;
}

.remote-video {
    width: 45vw;
    //flex: 1;
    //flex-basis: 45%; /* ~ 50% */
    //max-width: 50%;
}
