$theme-color: #009a90;
$theme-secondary-color: #323b45;
$background-color: #fff;
$text-color: $theme-secondary-color;

$alert-color: #f93f31;

$palette: (
  theme: $theme-color,
  theme-filter: mix($theme-color, transparent, 10%),
  background: $background-color,
  background-dark: mix($background-color, #000, 90%),
  text: $text-color,
  text-light: mix($text-color, #fff, 30%),
  alert: $alert-color
);

@function palette($name: transparent) {
  @return map-get($palette, $name);
}
