.btn {
  background-color: palette(theme);
  color: palette(background);
  border: solid 2px palette(theme);
  border-radius: 2px;
  transition: all 0.2s ease-in-out;

  padding: 0.6em 0.6em;
  margin: 0.2em 0.1em;

  &:hover, &:active, &:focus {
    background-color: palette(background);
    color: palette(theme);
    cursor: pointer;
  }
}

.btn.basic {
  background-color: palette(background);
  color: palette(theme);
  border: none;
  //border: solid 1px palette(background-dark);
  box-shadow: 0 0 1px 1px palette(background-dark);

  &:disabled {
    color: palette(background-dark);
    pointer-events: none;
  }

  &:hover, &:active, &:focus {
    background-color: palette(theme-filter);
    //color: palette(background);
    box-shadow: 0 0 1px 1px palette(theme);
  }
}


.btn.icon {
  i {
    margin-right: 8px;
  }
}
