form {
  background-color: palette(background);

  padding: 1em;

  display: flex;
  flex-flow: column nowrap;

  .title {
    margin: 0.8em 0;
    font-size: 1.6em;
  }

  input {
    height: 48px;

    padding: 0.2em 0.6em;
    margin: 0.2em 0.1em;

    outline: none;
    border: solid 1px palette(background-dark);

    &:focus {
      border: solid 1px palette(theme);
      box-shadow: 0 0 2px 0 palette(theme);
    }
  }
}
