video {
  border: solid 1px palette(theme);
  box-shadow: 0 0 2px 0 palette(theme);
  border-radius: 4px;
  background-color: black;
}

video.invert {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

