@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  /*border: solid 2px red;*/
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
  font-family: 'Rubik', 'sans-serif';
  color: palette(text);
}

.feather {
  //width: 24px;
  //height: 24px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.title {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: grey;
    transition: all ease-in-out 0.1s;
  }
}
