@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  /*border: solid 2px red;*/
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
  font-family: 'Rubik', 'sans-serif';
}

.title {
  text-align: center;
}

video.invert {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: grey;
    transition: all ease-in-out 0.1s;
  }
}
