#proctor {
  #signaling-state {
    text-align: center;
  }

  #connection-state {
    text-align: center;
  }

  #video-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .btn {
      margin: 0.2em 0.4em;
    }
  }

  #video-container {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  #share-camera, #share-screen, #camera, #screen {
    //flex-shrink: 1;
    //flex-grow: 1;
    margin: 1em;
    width: calc(50vw - 4em);
    height: calc((50vw - 4em) * 9/16);
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #share-camera, #share-screen, #camera, #screen {
      width: calc(100vw - 4em);
      height: calc((100vw - 4em) * 9/16);
    }
  }
}
