#proctor {
  #signaling-state {
    text-align: center;
  }

  #connection-state {
    text-align: center;
  }

  #video-controls {
    display: flex;
    justify-content: center;
  }

  #video-container {
    display: flex;
    flex-flow: row wrap;
  }

  #camera, #screen {
    width: 49vw;
    height: 28.125vw;
  }
}
