#seer {
  #signaling-state {
    text-align: center;
  }

  #online-users-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 8px;
  }

  .flow.list {
    display: flex;
    margin: 8px 0;
    flex-flow: row wrap;
  }

  .flow.list > .list-item {
    padding: 2px 4px;
    border: solid 2px black;
    border-radius: 4px;
    margin-right: 4px;
  }

  #session-controls {
    display: flex;
    justify-content: center;
    padding: 8px;

    .btn {
      margin: 0.2em 0.4em;
    }
  }

  #student-container {
    display: flex;
    max-width: 100%;
    flex-flow: row wrap;
    justify-content: center;

    .student {
      @extend .card;
      display: flex;
      max-width: 100%;
      flex-flow: column nowrap;

      .student-info {
        text-align: center;
      }

      .talk {
        margin: 0.3em;
      }

      .video-container {
        display: flex;
        max-width: 49vw;
        flex-flow: row wrap;
        justify-content: space-around;

        video {
          width: calc(24vw - 1em);
          height: calc((24vw - 1em) * 9/16);
          margin: 0.3em;
        }
      }
    }
  }
}
